<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.fracz.mcr"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/ic_launcher"
        android:theme="@style/Theme.Sherlock"
        android:label="@string/app_name">
        <activity android:name=".Bootstrap_">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="MCR_"
            android:label="@string/app_name"></activity>
        <activity android:name=".OpenArchiveActivity_">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/zip" />
            </intent-filter>
        </activity>
        <activity android:name=".FileChooser_"></activity>
        <activity android:name=".Complete_"></activity>
        <activity android:name=".preferences.Preferences_"></activity>
    </application>

</manifest>